<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storeId</key>
	<string>christiantietze</string>
	<key>productId</key>
	<string>newapp</string>
	<key>productName</key>
	<string>New App</string>
</dict>
</plist>
