<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storeId</key>
	<string>your store id</string>
	<key>productId</key>
	<string>your product id (the FastSpring slug, not the one used by CocoaFob)</string>
	<key>productName</key>
	<string>name of the product on the FastSpring store</string>
</dict>
</plist>
